<nav class="navbar navbar-expand-lg navbar-dark   ">
    <div class="container-fluid ">
        <h1 class="center text-center text-warning fw-bolder text-center ">FITNESS</h1>

        <form class="d-flex  ">
            <div class="container-b ">
                <a style="color: yellow;" class="btn " href="#"><h5>Home</h5></a>
            </div>
    </form>
</div>
</nav>
   
   
   <!-- Product section-->
   <section class="py-2">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6 text-center"><img style="height: 500px; width: 400px;" class="card-img-top mb-5 mb-md-0 " [src]="fitness.image" [alt]="fitness.name" /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{fitness.name}}</h1>
                <p class="lead" style="text-align: justify;">1.{{fitness.hydration}}</p>
                <p class="lead" style="text-align: justify;">2.{{fitness.Proteinintake}}</p>
                <p class="lead" style="text-align: justify;">3.{{fitness.caloricsurplus}}</p>
                <p class="lead" style="text-align: justify;">4.{{fitness.resistancetraining}}</p>
                <p class="lead" style="text-align: justify;">5.{{fitness.trackyourprogress}}</p>

            </div>
        </div>
    </div>
    
  
</section>

